bodyab {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* White background */
    color: black; /* Dark red text color */
}

header h1 {
    color: #fff; /* White header text color */
    text-align: center;
}

.containerab {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.sectionab {
    margin-bottom: 30px;
}

.h2ab {
    color: #680101; /* Dark red heading color */
}

.pab {
    line-height: 1.6;
}
