body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.find-donor-container {
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.find-donor-title {
    color: #680101;
    text-align: center;
}

.find-donor-form-inline .find-donor-form-group {
    display: inline-block;
    margin-right: 10px;
}

.find-donor-form-group label {
    font-weight: bold;
    color: #680101;
    margin-right: 5px;
}

.find-donor-form-group input[type="text"],
.find-donor-form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.find-donor-form-group input[type="text"]:focus,
.find-donor-form-group select:focus {
    border-color: #680101;
    outline: none;
}

button {
    background-color: #680101;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #cc0000;
}

.find-donor-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
    display: block;
}

.find-donor-table, .find-donor-table th, .find-donor-table td {
    border: 1px solid #ddd;
}

.find-donor-table th, .find-donor-table td {
    padding: 10px;
    text-align: left;
}

.find-donor-table th {
    background-color: #680101;
    color: #fff;
}

/* Responsive styling */
@media (max-width: 768px) {
    .find-donor-form-inline {
        display: block;
        text-align: center;
    }
    .find-donor-form-inline .find-donor-form-group {
        margin: 10px 0;
    }
}
